body{
    margin: 0px;
    background-image: url('../image/背景.jpg'); 
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}
header{
    margin-top: 0px;   
    font-family:  'Comic Sans MS', cursive;    
    font-size: 69px;
    font-weight: bold;
    text-align: center;
    height: 96px;
}
img{
    margin-top: 0px;
    height: 200px;
    width:auto ;
    float: left; 
    margin: 10px; /* 图片周围的间距 */
}
div.inner{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
#container_1{
    margin-top: 0px;       
    height: 300px;
}
.good{
    color: rgb(17, 16, 16);
    text-decoration: underline;
}
.good:hover {
    color: rgb(213, 43, 43); 
}
.cont_1_1{
    margin-top: 0px;       
    height: 300px;
    width: 180px;
    font-size: 80px;
    float: left;
}
.cont_1_2{
    margin-top: 0px;       
    height: 300px;
    width:430px;
    float: left;
}
.cont_1_3{
    margin-top: 0px;   
    margin-left: 40px;    
    height: 300px;
    width:430px;
    float: left;
}
#container_2{
    margin-top: 10px;       
    height: 300px;
}
.container_3{
    margin-top: 10px;       
    height: 300px;
}
.cont_2_1{
    margin-top: 0px;       
    height: 300px;
    width: 180px;
    font-size: 80px;
    float: left;
}
.cont_2_2{
    margin-top: 0px;      
    height: 300px;
    width: 310px;
    float: left;
}
.cont_2_3{
    margin-top: 0px;       
    height: 300px;
    width: 360px;
    float: left;
}
.cont_2_4{
    margin-top: 0px;      
    height: 300px;
    width: 240px;
    float: left;
}
#container_3{
    margin-top: 10px;       
    height: 300px;
}
.cont_3_3{
    margin-top: 0px; 
    height: 300px;
    width: 350px;
    float: left;
}
footer{
    text-align: center;
    margin-bottom: 40px;
    font-size: 30px;
}