body{
    margin: 0px;
    background-image: url('../image/a背景.jpg'); 
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}
form{
    height: 600px;
    font-size: x-large;
    font-family: 'Comic Sans MS', cursive;
}
aside {
    position: absolute; /* 将aside元素定位为绝对定位，使其脱离正常文档流 */
    top: 20px; /* 将aside元素的顶部边距设为20像素 */
    right: 20px; /* 将aside元素的右边距设为20像素*/
    width: 800px; /* 设置aside元素的宽度为800像素 */
    height: 600px;/* 设置aside元素的高度为600像素 */
    background-color: rgba(138, 179, 179, 0.7); /* 设置背景颜色为带透明度的颜色，颜色为RGBA */
    padding: 10px; /* 设置aside元素内容的内边距为10像素 */
    z-index: 1000; /* 设置z-index为1000，确保aside元素在其他元素之上 */
    border-radius: 8px; /* 设置aside元素的边框圆角为8像素 */
}
#a1{
    width: 190px;
    height: auto;
}
#a2{
    width: 130px;
    height: auto;
}
#a3{
    width: 100px;
    height: auto;
}
#a4{
    width: 150px;
    height: auto;
}
#a5{
    width: 170px;
    height: auto;
}
#a6{
    width: 140px;
    height: auto;
}
#a7{
    width: 180px;
    height: auto;
}
#a8{
    width: 160px;
    height: auto;
}
#a9{
    width: 130px;
    height: auto;
}
#a10{
    width: 140px;
    height: auto;
}

footer{
    text-align: center;
    margin-bottom: 40px;
    font-size: 30px;
}